<div class="contents row4"style="height: 760px;animation: bg2-color 0.2s infinite;">
    <div class="success">
      <h3>
        delete completed
      </h3>
        <span style="display: flex; flex-direction: column; align-items: center;">
          <a class="btn3">Return Post List</a>
          <a class="btn2">Return Post List True?</a>
          <a class="btn4" href="/">Return Post List True?</a>
        </span>
    </div>
  </div>